<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldtechpoints.bd_english_gramar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubmitAllActivity"
            />
        <activity android:name=".Features.model_questions.ModelQShowActivity"
            />
        <activity android:name=".Features.model_questions.ModelQSubmitActivity"
            />

        <activity android:name=".Features.grammar.GrammarReadActivity"
            />
        <activity android:name=".Features.grammar.GrammarShowActivity"
            />
        <activity android:name=".Features.grammar.GrammarSubmitActivity"
            />

        <activity android:name=".Features.compositions.ComReadActivity"
            />
        <activity android:name=".Features.compositions.ComShowActivity"
            />
        <activity android:name=".Features.compositions.ComSubmitActivity"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/test_AppUnitId" />

    </application>

</manifest>